@media only screen and (min-width: 1200px){
    .img-ellipse3{
        display:block;
        animation-name:fade-in;
        animation-duration: 5s;
        animation-delay: 15s;
    }
    .img-ellipse4{
        display:block;
        animation-name:fade-in;
        animation-duration: 5s;
        animation-delay: 10s;
    }
    .img-ellipse2{
        animation-name:fade-in;
        animation-duration: 5s;
        animation-delay: 20s;

    }
    .img-ellipse1{
        animation-name:fade-in;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .item2{
        transition: .5s;
    }
    .h2-f{
        font-size:2.5vw;
    }
    
    @keyframes fade-in {
        0%{
            opacity:0;
            
        }
        50%{
            opacity: 0.5;
        }
        
        100%{
            opacity:1;
            z-index:5;
        }
    }
    
    .card{
        height: 70%;
        padding:2vw 2vw 1vw;
        animation: none;
        
        
      }
      .card:hover{
          animation: pop .2s;
          animation-fill-mode: forwards;
          
      }
      @keyframes pop{
          from{
              
              border-radius: 3vw;
          }
        to{
            
           transform:scale(1.01);

            box-shadow: 0 .1vw .1vw rgba(136, 136, 136, 0.3), 
                        0 .2vw .2vw rgba(136, 136, 136, 0.25), 
                        0 .4vw .4vw rgba(136, 136, 136, 0.2), 
                        0 .8vw .8vw rgba(136, 136, 136, 0.15), 
                        0 1.6vw 1.6vw rgba(136, 136, 136, 0.1), 
                        0 3.2vw 3.2vw rgba(136, 136, 136, 0.05);
            border-radius: 4vw;

        }
      }
     
}