html{
    font-size: 15%;
  }

body{
    display:grid;
    grid-gap: 10vw;
    grid-template-areas:
    'left right'
    'subtitle subtitle'
    'center center';
    grid-auto-columns: 1fr;
    margin: 0;
}
h1{
    font-size: 5vw;
    line-height: 5vw;
    color: #1e1c24;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    
}
h2{
    grid-area:subtitle;
    width: 50vw;
    height: 2vw;
    font-size: 3vw;
    color: #1e1c24;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    justify-self: center;
    text-align: center;

}


.desc{
    width: 50.5vw;
    height: 5vw;
    font-size: 2vw;
    line-height: 3vw;
    color: #1e1c24;
    font-family: "Muli";
    font-weight: 300;
    text-align: left;
    opacity: 0.4;

}
.email-input{
    padding-top: 5vw;
    position: relative;
}
.email{
    padding-left: 1vw;
    width: 30vw;
    height: 6vw;
    border-radius: 10vw;
    background-color: #ebebeb;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    letter-spacing: 0.1rem;
    line-height: 9.1rem;
    color: #1e1c24;
    opacity:0.3;
    font-family: "Montserrat";
    font-weight: 300;
    position: absolute;
    left:0;
}
.button{
    width: 15vw;
    height: 6vw;
    border-radius: 10vw;
    filter: drop-shadow(0rem 3rem 2.85rem rgba(255,83,83,0.34));
    background-color: #fd5353;
    font-size:1vw;
    color: #ffffff;
    font-family: "Muli";
    font-weight: 500;
    outline:none;
    position: absolute;
    left: 32vw;
    text-align: center;
}
.button:hover {background-color: #fa2828}

.button:active {
  background-color: #fa2828;
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.4rem);
}
.logo{
    padding-top: 10vw;
}
.logo-p{
    padding-top: 3vw;
    max-width: 100%;
    height: auto;
}
.ellipses{
    position: absolute;
    right:0;
    top:0; 
    z-index:-1;
    
   
}

#ellipse1 {
    width: 100vw;
    height: 100vw;
    clip-path: ellipse(40% 40% at 97% 10%);
    background: #fd5353;
    
  }

#ellipse2{
    width: 100vw;
    height: 100vw;
    clip-path: ellipse(35% 40% at 97% 10%);
    background:  #ffb653;
    
    
}
#ellipse3{
    width: 100vw;
    height: 100vw;
    clip-path: ellipse(30% 28% at 100% 22%);
    position: relative;
    background:  #3a4151;
   
}
.try-free{
    padding: 1vw 2vw;
    background: #3a4151;
    color: #ffffff;
    border: 0.3vw solid #ffffff;
    border-radius: 5vw;
    font-size: 2vw;
    color: #ffffff;
    font-family: "Muli";
    font-weight: 700;
    position: absolute;
    top:2vw;
    right:2vw;
    opacity: 0.7;
    text-align: center;
}
.img-ellipse1{
    max-width: 30vw;
    height: auto;
    position: absolute;
    left:5vw;
    top:5vw;
    z-index:4;
    display:none;
}
.img-ellipse2{
    width:30vw;
    height: auto;
    position: absolute;
    left:2vw;
    bottom:15vw;
    z-index:1;
    display:none;
 
}
.img-ellipse3{
    width:25vw;
    height: auto;
    position: absolute;
    right:2vw;
    bottom:10vw;
    z-index:2;
    display:none;
}
.img-ellipse4{
    width:45vw;
    height: auto;
    position: absolute;
    left:-5vw;
    bottom:25vw;
    z-index:3;
    display:none;
}


.item1{
    grid-area: left;
    margin-left: 5rem;
    margin-top: 5rem;
    min-width: 0;
}
.item2{
    position: relative;
    grid-area: right;
    
}
.item3{
    grid-area:center;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
   
    
}
.part1{
    flex:1;
    margin-bottom: 15vw;
   
    
}
.part2{
    flex:1;
    margin-bottom: 15vw;
    
}
.part3{
    flex:1;
    margin-bottom: 15vw;
    
}

h3{
    font-size: 2vw;
    color: #1e1c24;
    font-family: "Muli";
    font-weight: 800;
    text-align: center;
    
}
p{
    width: 20vw;
    height: 7vw;
    font-size: 2vw;
    color: #b1aaaa;
    font-family: "Muli";
    font-weight: 700;
    text-align: center;
    
   
}

.chart{
    width:10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.chart3{
    position: relative;
}
.chart3-back{
    width:2vw;
    position: absolute;
    top:1vw;
    left:7vw;
}