@media only screen and (max-width:150px){

    body{
        transform: scaleX(0.95);
        
    }
    .half-circle{
        margin-left:-2vw;
    }
    .line-rounded{
        margin-left:-2vw;
    }
  
}
html{
    font-size: 15%;
  }

body{
    position: relative;
    display:grid;
    grid-gap: 10vw;
    grid-template-areas:
    'left right'
    'subtitle subtitle'
    'center center'
    'achivements purpose'
    'team circles'
    'footer shapes';
    grid-auto-columns: 1fr;
    margin: 0;
    padding: 0;
    
    
}
h1{
    margin-top: 10vw;
    width: 50.5vw;
    height: 15vw;
    font-size: 5vw;
    line-height: 5vw;
    color: #1e1c24;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    
}
h2{
    grid-area:subtitle;
    width: 50vw;
    height: 2vw;
    font-size: 3vw;
    color: #1e1c24;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    justify-self: center;
    text-align: center;

}


.desc{
    width: 50.5vw;
    height: 5vw;
    font-size: 2vw;
    line-height: 3vw;
    color: #1e1c24;
    font-family: "Muli";
    font-weight: 700;
    text-align: left;
    opacity: 0.4;

}
.email-input{
    padding-top: 5vw;
    position: relative;
}
.email{
    padding-left: 1vw;
    width: 30vw;
    height: 6vw;
    border-radius: 10vw;
    background-color: #ebebeb;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    letter-spacing: 0.1rem;
    line-height: 9.1rem;
    color: #1e1c24;
    opacity:0.3;
    font-family: "Montserrat";
    font-weight: 300;
    position: absolute;
    left:0;
}
.button{
    width: 15vw;
    height: 6vw;
    border-radius: 10vw;
    filter: drop-shadow(0rem 3rem 2.85rem rgba(255,83,83,0.34));
    background-color: #fd5353;
    font-size:1vw;
    color: #ffffff;
    font-family: "Muli";
    font-weight: 500;
    outline:none;
    position: absolute;
    left: 32vw;
    text-align: center;
}

.button:active {
  background-color: #fa2828;
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.4rem);
}
.logo{
    padding-top: 10vw;
}
.logo-p{
    padding-top: 3vw;
    max-width: 100%;
    height: auto;
}
.ellipses{
    position: absolute;
    right:0;
    top:0; 
    z-index:-1;
    
   
}

#ellipse1 {
    width: 100vw;
    height: 100vw;
    clip-path: ellipse(40% 40% at 97% 10%);
    background: #fd5353;
    
  }

#ellipse2{
    width: 100vw;
    height: 100vw;
    clip-path: ellipse(35% 40% at 97% 10%);
    background:  #ffb653;
    
    
}
#ellipse3{
    width: 100vw;
    height: 100vw;
    clip-path: ellipse(30% 28% at 100% 22%);
    position: relative;
    background:  #3a4151;
   
}
.try-free{
    padding: 1vw 2vw;
    background: #3a4151;
    color: #ffffff;
    border: 0.3vw solid #ffffff;
    border-radius: 5vw;
    font-size: 2vw;
    color: #ffffff;
    font-family: "Muli";
    font-weight: 700;
    position: absolute;
    top:2vw;
    right:2vw;
    opacity: 0.7;
    text-align: center;
}
.img-ellipse1{
    max-width: 30vw;
    height: auto;
    position: absolute;
    left:5vw;
    top:5vw;
    z-index:4;
    display:none;
}
.img-ellipse2{
    width:30vw;
    height: auto;
    position: absolute;
    left:0;
    bottom:15vw;
    z-index:1;
    display:none;
 
}
.img-ellipse3{
    width:25vw;
    height: auto;
    position: absolute;
    right:2vw;
    bottom:15vw;
    z-index:2;
    display:none;
}
.img-ellipse4{
    width:45vw;
    height: auto;
    position: absolute;
    left:0;
    bottom:30vw;
    z-index:3;
    display:none;
}


.item1{
    grid-area: left;
    margin-left: 3vw;
    min-width: 0;
}
.item2{
    position: relative;
    grid-area: right;
    
}
.item3{
    grid-area:center;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
   
    
}
.part1{
    flex:1;
    margin-bottom: 15vw;
   
    
}
.part2{
    flex:1;
    margin-bottom: 15vw;
    
}
.part3{
    flex:1;
    margin-bottom: 15vw;
    
}

h3{
    font-size: 2vw;
    color: #1e1c24;
    font-family: "Muli";
    font-weight: 800;
    text-align: center;
    
}
p{
    width: 20vw;
    height: 7vw;
    font-size: 2vw;
    color: #b1aaaa;
    font-family: "Muli";
    font-weight: 700;
    text-align: center;
    
   
}

.chart{
    width:10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.chart3{
    position: relative;
}
.chart3-back{
    width:2vw;
    position: absolute;
    top:1vw;
    left:7vw;
}
.item4{
    position: relative;
    grid-area:achivements;
}
.line-rounded{
    width:35vw;
    height:10vw;
    background: #fd5353;
    border-radius:5vw;
    transform: rotate(45deg);
    position: absolute;
    left:-10vw;
}
.half-circle{
    width:10vw;
    height:10vw;
    border:15vw solid #3a4151;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top:16vw;
    left:-20vw;
}

.achievements{
    width:40vw;
    position: absolute;
    top:-8vw;
    left:0;
    z-index: 1;
    display:none;
}
.ranking{
    width:30vw;
    position: absolute;
    top:5vw;
    right:-7vw;
    z-index: 2;
    display: none;
}
.h22{
    text-align: left;
    margin-bottom:10vw;
}
.p2{
    margin-bottom:10vw;
    width:30vw;
    text-align: left;

}
.p3{

    padding-top: 2.5vw;
    color: #000000;
    text-align:left;
    font-size:1.5vw;
    position: relative;
    font-family: "Muli";
    font-weight: 700;
    
   
}
.arrow{
    
    font-size:2vw;
    color:#fd5353;
    position: absolute;
    top:0;
    left:2vw;
    
} 
.item6{
    grid-area:circles;
    position: relative;
    overflow: hidden;
}
.circles{
    position: relative;
    
}
.circle{
    border-radius: 50%;
    background: #ffffff;
    z-index:-1;
}
.circle1{
    width:25vw;
    height:25vw;
    border:10vw solid rgba(211,211,211,0.1);
    position: absolute;
    top:0;
    right:-10vw;
    
}
.circle2{
    width:15vw;
    height:15vw;
    border:5vw solid rgba(211,211,211,0.3);
    position: absolute;
    top:0;
    right:0;
        
}
.circle3{
    width:5vw;
    height:5vw;
    border:5vw solid rgba(211,211,211,0.1);
    position: absolute;
    top:0;
    right:0;
}
.over-circles1{
    width:30vw;
    position: absolute;
    z-index:1;
    right:5vw;
    bottom:5vw;
    display: none;
}
.over-circles2{
    width:30vw;
    position: absolute;
    z-index:2;
    right:0;
    bottom:10vw;
    display: none;
}
.item7{
    grid-area:team;
    margin-top:12vw;
    margin-left:15vw;
    min-width: 0;
}
.item8{
    
    grid-area: footer;
    margin-right:-20vw;
    margin-top:-10vw;
    padding-bottom: -20vw;
}
.item9{

    padding:20vw 0;
    grid-area:shapes;
    position: relative;
    overflow: hidden;
    
}
.r3{
    display: none;
}

.line-rounded-reverse{
    width:35vw;
    height:10vw;
    background: #fd5353;
    border-radius:5vw;
    transform: rotate(-45deg);
    position: absolute;
    right:-10vw;
}

.half-circle-reverse{
    width:10vw;
    height:10vw;
    border:15vw solid #3a4151;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top:35vw;
    right:-20vw;
    
}
.review{
    width:50vw;
    margin-bottom:-5vw;


}
.acc{
    width: 10vw;
    height: 90vw;
    transform: rotate(-20deg);
    position: absolute;
    top:5vw;
    left:4vw;
    background: #fd5353;
    

}
.thin-line{
    width:100%;
    height:0.2vw;
    background-color:rgba(211,211,211,0.5) ;
    position: absolute;
}


.p-f{
    text-align: center;
    padding: 5vw 0 0 10vw;
    width:30vw;
}
.input-f{
    margin-bottom: 2vw;
    width:10vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    margin: 0 0 0 5vw;
}
.item81{
    padding-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.item82{
    padding: 5vw 0 5vw 25vw;
    margin-right: -30vw;
    position: relative;
    overflow: hidden;
    
}
  
ul {
    list-style-type: none;
    margin: 0 0 0 -3vw;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
    box-shadow: 0 0.1vw rgba(211,211,211,0.2);
  }
  
  li {
    float: left;
    transition: background-color 1s;
   
  }
  li img{
    width:2vw;
    display: block;
    padding: 1vw 4vw;
  }
  
  li a {

    color: #ffb75280;
    font-size: 1.5vw;
    font-family: "Muli", sans-serif;
    text-align: center;
    padding: 1vw 3vw;
    text-decoration: none;
    transition: display 1s ease-in-out;
    
  }
  
  
  
  
  .input-f{
      position: relative;
      width:100%;
  }
  .example{
      color:rgb(211,211,211);
      font-size: 1.8vw;
      font-family:"Muli", sans-serif;
      position: absolute;
      bottom:0.7vw;
      left:5vw;
  }
  