@media only screen and (min-width: 600px) {
    html{
        font-size: 20%;
      }
      .img-ellipse1{
          display: block;
          width: 40vw;
      }
      .img-ellipse2{
            display: block;
            width:40vw;
        }
        
    .item3{

        display: grid;
        grid-template-areas:
        'part1 part2 part3';
        grid-auto-columns: 1fr;
        justify-items: center;
        grid-gap: 1vw;
        
    }
    .part1{
        grid-area: part1;
        justify-self: center;
        
    }
    .part2{
        grid-area: part2;
        justify-self: center;
        
    }
    .part3{
        grid-area: part3;
        justify-self: center;
    }
 
    .achievements{
        display:block;
    }
    .ranking{
        display: block;
    }
    
}